if (me.urls.length > 0)
    table(class="url-table")
        tbody
            each val in me.urls
                | !{val.renderMenu()}

if (me.paths.length > 0)
    ul
        each val in me.paths
            li(class="path-menu") !{val.renderMenu()}
